.card-details-page {
    background-color: #c8e9c0;
    min-height: 100vh;
    padding-top: 45px;
}

.poster_image {
    height: 70%;
    width: 400px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


.card_details_wrapper {
    height: 500px;
    width: 400px;
    border: 1px solid rgb(0, 166, 232);
    border-radius: 15px;
    align-items: center;
    margin: auto;
    text-align: center;
    background-color: rgb(0, 166, 232);
}